<?xml version="1.0" ?>

<options>
	<option key="test" value="true"/> 
	<option key="explanation" value="diskperf simpl"/> 
	<option key="file" value="diskperf_simpl1.c"/> 
	<option key="test_vectors" value="false"/> 
	<option key="forced_free_hint" value="DiskPerfDispatchPnp_register_Irp__Tail__Overlay__CurrentStackLocation"/>
	<option key="forced_free_hint" value="DiskPerfDispatchPnp_register_irpSp__MinorFunction"/>
	<option key="forced_free_hint" value="DiskPerfStartDevice_register_DeviceObject__DeviceExtension"/>
	<option key="forced_free_hint" value="DiskPerfStartDevice_register_deviceExtension__TargetDeviceObject"/>
	<option key="forced_free_hint" value="DiskPerfRemoveDevice_register_DeviceObject__DeviceExtension"/>
	<option key="forced_free_hint" value="DiskPerfRemoveDevice_register_deviceExtension__WmilibContext"/>
	<option key="forced_free_hint" value="DiskPerfSendToNextDriver_register_Irp__CurrentLocation"/>
	<option key="forced_free_hint" value="DiskPerfSendToNextDriver_register_Irp__Tail__Overlay__CurrentStackLocation"/>
	<option key="forced_free_hint" value="DiskPerfSendToNextDriver_register_DeviceObject__DeviceExtension"/>
	<option key="forced_free_hint" value="DiskPerfSendToNextDriver_register_deviceExtension__TargetDeviceObject"/>
	<option key="forced_free_hint" value="DiskPerfDispatchPower_register_Irp__CurrentLocation"/>
	<option key="forced_free_hint" value="DiskPerfDispatchPower_register_Irp__Tail__Overlay__CurrentStackLocation"/>
	<option key="forced_free_hint" value="DiskPerfDispatchPower_register_DeviceObject__DeviceExtension"/>
	<option key="forced_free_hint" value="DiskPerfDispatchPower_register_deviceExtension__TargetDeviceObject"/>
	<option key="forced_free_hint" value="DiskPerfForwardIrpSynchronous_register_Irp__Tail__Overlay__CurrentStackLocation"/>
	<option key="forced_free_hint" value="DiskPerfForwardIrpSynchronous_register_DeviceObject__DeviceExtension"/>
	<option key="forced_free_hint" value="DiskPerfForwardIrpSynchronous_register_deviceExtension__TargetDeviceObject"/>
	<option key="forced_free_hint" value="DiskPerfForwardIrpSynchronous_register_event"/>
	<option key="forced_free_hint" value="DiskPerfIoCompletion_register_irpStack__MajorFunction"/>
	<option key="forced_free_hint" value="DiskPerfIoCompletion_register_partitionCounters__BytesRead__QuadPart"/>
	<option key="forced_free_hint" value="DiskPerfIoCompletion_register_Irp__IoStatus__Information"/>
	<option key="forced_free_hint" value="DiskPerfIoCompletion_register_partitionCounters__ReadCount"/>
	<option key="forced_free_hint" value="DiskPerfIoCompletion_register_partitionCounters__ReadTime__QuadPart"/>
	<option key="forced_free_hint" value="DiskPerfIoCompletion_register_difference__QuadPart"/>
	<option key="forced_free_hint" value="DiskPerfIoCompletion_register_partitionCounters__BytesWritten__QuadPart"/>
	<option key="forced_free_hint" value="DiskPerfIoCompletion_register_partitionCounters__WriteCount"/>
	<option key="forced_free_hint" value="DiskPerfIoCompletion_register_partitionCounters__WriteTime__QuadPart"/>
	<option key="forced_free_hint" value="DiskPerfIoCompletion_register_Irp__Flags"/>
	<option key="forced_free_hint" value="DiskPerfIoCompletion_register_partitionCounters__SplitCount"/>
	<option key="forced_free_hint" value="DiskPerfIoCompletion_register_Irp__PendingReturned"/>
	<option key="forced_free_hint" value="DiskPerfIoCompletion_register_partitionCounters"/>
	<option key="forced_free_hint" value="DiskPerfIoCompletion_register_queueLen"/>
	<option key="forced_free_hint" value="DiskPerfDeviceControl_register_Irp__CurrentLocation"/>
	<option key="forced_free_hint" value="DiskPerfDeviceControl_register_Irp__Tail__Overlay__CurrentStackLocation"/>
	<option key="forced_free_hint" value="DiskPerfDeviceControl_register_DeviceObject__DeviceExtension"/>
	<option key="forced_free_hint" value="DiskPerfDeviceControl_register_deviceExtension__TargetDeviceObject"/>
	<option key="forced_free_hint" value="DiskPerfDeviceControl_register_currentIrpStack__Parameters__DeviceIoControl__IoControlCode"/>
	<option key="forced_free_hint" value="DiskPerfDeviceControl_register_currentIrpStack__Parameters__DeviceIoControl__OutputBufferLength"/>
	<option key="forced_free_hint" value="DiskPerfDeviceControl_register_sizeof__DISK_PERFORMANCE"/>
	<option key="forced_free_hint" value="DiskPerfDeviceControl_register_deviceExtension__DiskCounters"/>
	<option key="forced_free_hint" value="DiskPerfDeviceControl_register_Irp__AssociatedIrp__SystemBuffer"/>
	<option key="forced_free_hint" value="DiskPerfDeviceControl_register_deviceExtension__Processors"/>
	<option key="forced_free_hint" value="DiskPerfDeviceControl_register_deviceExtension__QueueDepth"/>
	<option key="forced_free_hint" value="DiskPerfShutdownFlush_register_DeviceObject__DeviceExtension"/>
	<option key="forced_free_hint" value="DiskPerfShutdownFlush_register_Irp__CurrentLocation"/>
	<option key="forced_free_hint" value="DiskPerfShutdownFlush_register_Irp__Tail__Overlay__CurrentStackLocation"/>
	<option key="forced_free_hint" value="DiskPerfShutdownFlush_register_deviceExtension__TargetDeviceObject"/>
	<option key="forced_free_hint" value="DiskPerfShutdownFlush_register_DeviceObject__DeviceExtension"/>
	<option key="forced_free_hint" value="DiskPerfShutdownFlush_register_deviceExtension__TargetDeviceObject"/>
	<option key="forced_free_hint" value="DiskPerfRegisterDevice_register_sizeof__number"/>
	<option key="forced_free_hint" value="DiskPerfRegisterDevice_register_ioStatus__Status"/>
	<option key="forced_free_hint" value="DiskPerfRegisterDevice_register_sizeof__VOLUME_NUMBER"/>
	<option key="forced_free_hint" value="DiskPerfRegisterDevice_register_volumeNumber__VolumeManagerName__0"/>
	<option key="forced_free_hint" value="DiskPerfRegisterDevice_register_ioStatus"/>
	<option key="forced_free_hint" value="DiskPerfRegisterDevice_register_event"/>
	<option key="forced_free_hint" value="DiskPerfRegisterDevice_register_number"/>
	<option key="forced_free_hint" value="DiskPerfRegisterDevice_register_sizeof__MOUNTDEV_NAME"/>
	<option key="forced_free_hint" value="DiskPerfRegisterDevice_register_output__NameLength"/>
	<option key="forced_free_hint" value="DiskPerfRegisterDevice_register_output"/>
	<option key="forced_free_hint" value="DiskPerfRegisterDevice_register_volumeNumber"/>
	<option key="forced_free_hint" value="main_register_d"/>
	<option key="forced_free_hint" value="main_register_status"/>
	<option key="forced_free_hint" value="main_register_we_should_unload"/>
	<option key="forced_free_hint" value="main_register_irp"/>
	<option key="forced_free_hint" value="main_register_irp_choice"/>
	<option key="forced_free_hint" value="main_register_devobj"/>
	<option key="forced_free_hint" value="main_register_tmp_ndt_1"/>
	<option key="forced_free_hint" value="main_register_tmp_ndt_2"/>
	<option key="forced_free_hint" value="main_register_tmp_ndt_3"/>
	<option key="forced_free_hint" value="main_register_tmp_ndt_4"/>
	<option key="forced_free_hint" value="main_register_tmp_ndt_5"/>
	<option key="forced_free_hint" value="IoBuildDeviceIoControlRequest_register_malloc_ret"/>
	<option key="forced_free_hint" value="IoBuildDeviceIoControlRequest_register_tmp_ndt_7"/>
	<option key="forced_free_hint" value="IofCallDriver_register_lcontext"/>
	<option key="forced_free_hint" value="IofCallDriver_register_tmp_ndt_8"/>
	<option key="forced_free_hint" value="IofCallDriver_register_tmp_ndt_9"/>
	<option key="forced_free_hint" value="KeSetEvent_register_l"/>
	<option key="forced_free_hint" value="KeWaitForSingleObject_register_tmp_ndt_10"/>
	<option key="forced_free_hint" value="PoCallDriver_register_lcontext"/>
	<option key="forced_free_hint" value="PoCallDriver_register_tmp_ndt_11"/>
	<option key="forced_free_hint" value="PoCallDriver_register_tmp_ndt_12"/>
</options>
