<?xml version="1.0" ?>

<options>
	<option key="test" value="true"/> 
	<option key="explanation" value="floppy simple"/> 
	<option key="file" value="floppy_simpl4.c"/> 
	<option key="test_vectors" value="false"/> 
	<option key="forced_free_hint" value="FlQueueIrpToThread_register_threadHandle"/>
	<option key="forced_free_hint" value="FlQueueIrpToThread_register_DisketteExtension__PoweringDown"/>
	<option key="forced_free_hint" value="FlQueueIrpToThread_register_DisketteExtension__ThreadReferenceCount"/>
	<option key="forced_free_hint" value="FlQueueIrpToThread_register_DisketteExtension__FloppyThread"/>
	<option key="forced_free_hint" value="FlQueueIrpToThread_register_ObjAttributes"/>
	<option key="forced_free_hint" value="FloppyPnp_register_DeviceObject__DeviceExtension"/>
	<option key="forced_free_hint" value="FloppyPnp_register_Irp__Tail__Overlay__CurrentStackLocation"/>
	<option key="forced_free_hint" value="FloppyPnp_register_Irp__CurrentLocation"/>
	<option key="forced_free_hint" value="FloppyPnp_register_disketteExtension__IsRemoved"/>
	<option key="forced_free_hint" value="FloppyPnp_register_disketteExtension__IsStarted"/>
	<option key="forced_free_hint" value="FloppyPnp_register_disketteExtension__TargetObject"/>
	<option key="forced_free_hint" value="FloppyPnp_register_disketteExtension__FloppyThread"/>
	<option key="forced_free_hint" value="FloppyPnp_register_disketteExtension__InterfaceString__Buffer"/>
	<option key="forced_free_hint" value="FloppyPnp_register_disketteExtension__InterfaceString"/>
	<option key="forced_free_hint" value="FloppyPnp_register_disketteExtension__ArcName__Length"/>
	<option key="forced_free_hint" value="FloppyPnp_register_disketteExtension__ArcName"/>
	<option key="forced_free_hint" value="FloppyPnp_register_irpSp__MinorFunction"/>
	<option key="forced_free_hint" value="FloppyPnp_register_IoGetConfigurationInformation__FloppyCount"/>
	<option key="forced_free_hint" value="FloppyPnp_register_doneEvent"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_DeviceObject__DeviceExtension"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_Irp__Tail__Overlay__CurrentStackLocation"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_disketteExtension__TargetObject"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_disketteExtension__DriveType"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_disketteExtension__UnderlyingPDO"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_disketteExtension__InterfaceString"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_doneEvent"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_fdcInfo"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_fdcInfo__MaxTransferSize"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_fdcInfo__AcpiBios"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_fdcInfo__AcpiFdiSupported"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_fdcInfo__PeripheralNumber"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_fdcInfo__ControllerNumber"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_fdcInfo__UnitNumber"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_fdcInfo__BusNumber"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register_KUSER_SHARED_DATA__AlternativeArchitecture_NEC98x86"/>
	<option key="forced_free_hint" value="FloppyStartDevice_register___cil_tmp46"/>
	<option key="forced_free_hint" value="FlFdcDeviceIo_register_doneEvent"/>
	<option key="forced_free_hint" value="FlFdcDeviceIo_register_ioStatus"/>
	<option key="forced_free_hint" value="FlFdcDeviceIo_register_irp__Tail__Overlay__CurrentStackLocation"/>
	<option key="forced_free_hint" value="main_register_irp"/>
	<option key="forced_free_hint" value="main_register_irp_choice"/>
	<option key="forced_free_hint" value="main_register_devobj"/>
	<option key="forced_free_hint" value="main_register_tmp_ndt_1"/>
	<option key="forced_free_hint" value="main_register_tmp_ndt_2"/>
	<option key="forced_free_hint" value="main_register_tmp_ndt_3"/>
	<option key="forced_free_hint" value="main_register_tmp_ndt_4"/>
	<option key="forced_free_hint" value="IoBuildDeviceIoControlRequest_register_malloc"/>
	<option key="forced_free_hint" value="IoBuildDeviceIoControlRequest_register_tmp_ndt_5"/>
	<option key="forced_free_hint" value="IoDeleteSymbolicLink_register_tmp_ndt_6"/>
	<option key="forced_free_hint" value="IoQueryDeviceDescription_register_tmp_ndt_7"/>
	<option key="forced_free_hint" value="IoRegisterDeviceInterface_register_tmp_ndt_8"/>
	<option key="forced_free_hint" value="IoSetDeviceInterfaceState_register_tmp_ndt_9"/>
	<option key="forced_free_hint" value="IofCallDriver_register_lcontext"/>
	<option key="forced_free_hint" value="IofCallDriver_register_tmp_ndt_10"/>
	<option key="forced_free_hint" value="IofCallDriver_register_tmp_ndt_11"/>
	<option key="forced_free_hint" value="IofCompleteRequest_register_l"/>
	<option key="forced_free_hint" value="KeWaitForSingleObject_register_tmp_ndt_12"/>
	<option key="forced_free_hint" value="ObReferenceObjectByHandle_register_tmp_ndt_13"/>
	<option key="forced_free_hint" value="PsCreateSystemThread_register_tmp_ndt_14"/>
	<option key="forced_free_hint" value="ZwClose_register_tmp_ndt_15"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_disketteExtension__HoldNewRequests"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_disketteExtension__IsRemoved"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_disketteExtension__IsStarted"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_Irp__CurrentLocation"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_Irp__Tail__Overlay__CurrentStackLocation"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_disketteExtension__TargetObject"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_irpSp__Parameters__DeviceIoControl__OutputBufferLength"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_sizeof__MOUNTDEV_NAME"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_Irp__AssociatedIrp__SystemBuffer"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_disketteExtension__DeviceName__Length"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_sizeof__USHORT"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_disketteExtension__InterfaceString__Buffer"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_disketteExtension__InterfaceString__Length"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_sizeof__MOUNTDEV_UNIQUE_ID"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_irpSp__Parameters__DeviceIoControl__InputBufferLength"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_sizeof__FORMAT_PARAMETERS"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_irpSp__Parameters__DeviceIoControl__IoControlCode___1"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_sizeof__FORMAT_EX_PARAMETERS"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_formatExParameters__FormatGapLength"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_formatExParameters__SectorsPerTrack"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_sizeof__DISK_GEOMETRY"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_disketteExtension"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_lowestDriveMediaType"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_highestDriveMediaType"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register_formatExParametersSize"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register___cil_tmp41"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register___cil_tmp44"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register___cil_tmp45"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register___cil_tmp50"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register___cil_tmp55"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register___cil_tmp60"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register___cil_tmp65"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register___cil_tmp66"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register___cil_tmp69"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register___cil_tmp72"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register___cil_tmp75"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register___cil_tmp78"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register___cil_tmp81"/>
	<option key="forced_free_hint" value="FloppyDeviceControl_register___cil_tmp88"/>
	<option key="forced_free_hint" value="FlCheckFormatParameters_register_DriveMediaConstants__driveMediaType__MediaType"/>
	<option key="forced_free_hint" value="FlCheckFormatParameters_register_FormatParameters__MediaType"/>
	<option key="forced_free_hint" value="FlCheckFormatParameters_register_FAKE_CONDITION"/>
	<option key="forced_free_hint" value="FloppyQueueRequest_register_FAKE_CONDITION"/>
</options>
