<?xml version="1.0" ?>

<options>
	<option key="test" value="true"/> 
	<option key="explanation" value="cdaudio_simpl"/> 
	<option key="file" value="cdaudio_simpl1.c"/> 
	<option key="test_vectors" value="false"/> 
	<option key="forced_free_hint" value="SendSrbSynchronous_register_ioStatus__Status"/> 
	<option key="forced_free_hint" value="SendSrbSynchronous_register_event"/> 
	<option key="forced_free_hint" value="SendSrbSynchronous_register_status"/> 
	<option key="forced_free_hint" value="CdAudioStartDevice_register_deviceExtension__Active"/> 
	<option key="forced_free_hint" value="CdAudioStartDevice_register_deviceExtension"/> 
	<option key="forced_free_hint" value="CdAudioStartDevice_register_srb"/> 
	<option key="forced_free_hint" value="CdAudioStartDevice_register_srb__Cdb"/> 
	<option key="forced_free_hint" value="CdAudioStartDevice_register_deviceParameterHandle"/> 
	<option key="forced_free_hint" value="CdAudioPnp_register_register_Irp__Tail__Overlay__CurrentStackLocation"/> 
	<option key="forced_free_hint" value="CdAudioPnp_register_irpSp__MinorFunction"/> 
	<option key="forced_free_hint" value="CdAudioPnp_register_Irp__IoStatus__Status"/> 
	<option key="forced_free_hint" value="CdAudioPnp_register_irpSp__Parameters__UsageNotification__Type"/> 
	<option key="forced_free_hint" value="CdAudioPnp_register_deviceExtension__PagingPathCountEvent"/> 
	<option key="forced_free_hint" value="CdAudioPnp_register_irpSp__Parameters__UsageNotification__InPath"/> 
	<option key="forced_free_hint" value="CdAudioPnp_register_deviceExtension__PagingPathCount"/> 
	<option key="forced_free_hint" value="CdAudioDeviceControl_register_deviceExtension__Active"/> 
	<option key="forced_free_hint" value="CdAudioSendToNextDriver_register_Irp__CurrentLocation"/> 
	<option key="forced_free_hint" value="CdAudioSendToNextDriver_register_Irp__Tail__Overlay__CurrentStackLocation"/> 
	<option key="forced_free_hint" value="CdAudioSendToNextDriver_register_deviceExtension__TargetDeviceObject"/> 
	<option key="forced_free_hint" value="CdAudioIsPlayActive_register_deviceExtension__PlayActive"/> 
	<option key="forced_free_hint" value="CdAudioIsPlayActive_register_ioStatus__Status"/> 
	<option key="forced_free_hint" value="CdAudioIsPlayActive_register_currentBuffer__Header__AudioStatus"/> 
	<option key="forced_free_hint" value="CdAudioIsPlayActive_register_irp_CdAudioIsPlayActive"/> 
	<option key="forced_free_hint" value="CdAudioIsPlayActive_register_event"/> 
	<option key="forced_free_hint" value="CdAudioIsPlayActive_register_status"/> 
	<option key="forced_free_hint" value="CdAudioIsPlayActive_register_currentBuffer"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_Irp__Tail__Overlay__CurrentStackLocation"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_DeviceObject__DeviceExtension"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_deviceExtension__TargetDeviceObject"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_Irp__AssociatedIrp__SystemBuffer"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_srb__Cdb"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_currentIrpStack__Parameters__DeviceIoControl__IoControlCode"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_currentIrpStack__Parameters__DeviceIoControl__OutputBufferLength"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_currentIrpStack__Parameters__DeviceIoControl__InputBufferLength"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_sizeof__READ_CAPACITY_DATA"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_lastSession__LogicalBlockAddress"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_cdaudioDataOut__FirstTrack"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_cdaudioDataOut__LastTrack"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_sizeof__CDROM_TOC"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_sizeof__SUB_Q_CURRENT_POSITION"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_userPtr__Format"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_sizeof__CDROM_PLAY_AUDIO_MSF"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_inputBuffer__StartingM"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_inputBuffer__EndingM"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_inputBuffer__StartingS"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_inputBuffer__EndingS"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_inputBuffer__StartingF"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_inputBuffer__EndingF"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_cdb__PLAY_AUDIO_MSF__OperationCode"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_sizeof__CDROM_SEEK_AUDIO_MSF"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_srb"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_lastSession"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_i"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_bytesTransfered"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_Toc"/> 
	<option key="forced_free_hint" value="CdAudio535DeviceControl_register_SubQPtr"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_currentIrpStack__Parameters__DeviceIoControl__IoControlCode"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_currentIrpStack__Parameters__DeviceIoControl__OutputBufferLength"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_currentIrpStack__Parameters__DeviceIoControl__InputBufferLength"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_TrackData__0"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_sizeof__CDROM_TOC"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_cdaudioDataOut__LastTrack"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_cdaudioDataOut__FirstTrack"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_sizeof__CDROM_PLAY_AUDIO_MSF"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_sizeof__CDROM_SEEK_AUDIO_MSF"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_deviceExtension__Paused"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_sizeof__SUB_Q_CHANNEL_DATA"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_sizeof__SUB_Q_CURRENT_POSITION"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_deviceExtension"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_srb"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_i"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_Toc"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_SubQPtr"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_userPtr__Format"/> 
	<option key="forced_free_hint" value="CdAudio435DeviceControl_register_SubQPtr___0"/> 
	<option key="forced_free_hint" value="CdAudioAtapiDeviceControl_register_currentIrpStack__Parameters__DeviceIoControl__IoControlCode"/> 
	<option key="forced_free_hint" value="CdAudioAtapiDeviceControl_register_deviceExtension"/> 
	<option key="forced_free_hint" value="CdAudioAtapiDeviceControl_register_srb"/> 
	<option key="forced_free_hint" value="HpCdrProcessLastSession_register_index"/> 
	<option key="forced_free_hint" value="HPCdrCompletion_register_Irp__PendingReturned"/> 
	<option key="forced_free_hint" value="HPCdrCompletion_register_Irp__AssociatedIrp__SystemBuffer"/> 
	<option key="forced_free_hint" value="CdAudioHPCdrDeviceControl_register_currentIrpStack__Parameters__DeviceIoControl__IoControlCode"/> 
	<option key="forced_free_hint" value="CdAudioHPCdrDeviceControl_register_deviceExtension__TargetDeviceObject"/> 
	<option key="forced_free_hint" value="CdAudioForwardIrpSynchronous_register_deviceExtension__TargetDeviceObject"/> 
	<option key="forced_free_hint" value="CdAudioForwardIrpSynchronous_register_event"/> 
	<option key="forced_free_hint" value="CdAudioPower_register_Irp__CurrentLocation"/> 
	<option key="forced_free_hint" value="CdAudioPower_register_Irp__Tail__Overlay__CurrentStackLocation"/> 
	<option key="forced_free_hint" value="CdAudioPower_register_deviceExtension__TargetDeviceObject"/> 
	<option key="forced_free_hint" value="main_register_d"/> 
	<option key="forced_free_hint" value="main_register_status"/> 
	<option key="forced_free_hint" value="main_register_irp"/> 
	<option key="forced_free_hint" value="main_register_we_should_unload"/> 
	<option key="forced_free_hint" value="main_register_irp_choice"/> 
	<option key="forced_free_hint" value="main_register_devobj"/> 
	<option key="forced_free_hint" value="main_register_tmp_ndt_1"/> 
	<option key="forced_free_hint" value="main_register_tmp_ndt_2"/> 
	<option key="forced_free_hint" value="main_register_tmp_ndt_3"/> 
	<option key="forced_free_hint" value="IofCallDriver_register_Irp__PendingReturned"/> 
	<option key="forced_free_hint" value="IofCallDriver_register_lcontext"/> 
	<option key="forced_free_hint" value="IofCallDriver_register_tmp_ndt_4"/> 
	<option key="forced_free_hint" value="IofCallDriver_register_tmp_ndt_5"/> 
	<option key="forced_free_hint" value="KeSetEvent_register_l"/> 
	<option key="forced_free_hint" value="KeWaitForSingleObject_register_tmp_ndt_6"/> 
	<option key="forced_free_hint" value="PoCallDriver_register_lcontext"/> 
	<option key="forced_free_hint" value="PoCallDriver_register_tmp_ndt_7"/> 
	<option key="forced_free_hint" value="PoCallDriver_register_tmp_ndt_8"/> 
	<option key="forced_free_hint" value="ZwClose_register_tmp_ndt_9"/> 
</options>
