<?xml version="1.0" ?>

<options>
	<option key="verbose" value="false"/> 
	<option key="test" value="true"/> 
	<option key="explanation" value="dfadd"/> 
	<option key="file" value="dfadd.c"/> 
	<option key="base_path" value="/media/disk/release"/> 
	<option key="llvm_path" value="/llvm-2.9"/> 
</options>
