<?xml version="1.0" ?>

<options>
	<option key="test" value="true"/> 
	<option key="explanation" value="Simplest possible getopt"/> 
	<option key="file" value="getopt_simplest.c"/> 
	<option key="with_libs" value="true"/> 
	<option key="sym_argvs" value="2 2 2"/> 
	<option key="cyclotonic" value="true"/> 
</options>
