<?xml version="1.0" ?>

<options>
	<option key="test" value="true"/> 
	<option key="explanation" value="Simplest possible getopt"/> 
	<option key="file" value="getopt_simplest.c"/> 
	<option key="with_libs" value="true"/> 
	<option key="cyclotonic" value="true"/> 
	<option key="forced_free_var" value="mem_0"/> 
	<option key="forced_free_var" value="mem_1"/> 
</options>
